.container {
  max-width: 450px;
}

p,
button {
  text-transform: uppercase;
}

#blue {
  background-color: #0193e7;
}

#green {
  background-color: #8fb413;
}

#red {
  background-color: #e51325;
}

#orange {
  background-color: #f9bf00;
}

.tile {
  border: 0;
  padding: 6rem 5rem;
  width: 100%;
}

.tile,
#status-display {
  opacity: 0.5;
  transition: opacity 500ms;
}

.highlighted {
  opacity: 1 !important;
}

#status-display {
  border-bottom-right-radius: 5px;
}

#score-display {
  background-color: #59a883;
  border-bottom-left-radius: 5px;
}

@media screen and (max-width: 350px) {
  .tile {
    padding: 3rem 6rem;
  }
}
